# Triggering a new workflow run with a trivial change
# Core dependencies
jax==0.4.30
jaxlib==0.4.30
chex>=0.1.86
dm-haiku==0.0.11
fairscale==0.4.13
flax==0.8.5
numpy>=1.24.1
optax==0.2.3
scipy==1.10.1
transformers==4.38.0
-e .
